<!-- 内容区域 -->
<script type="text/javascript">
  cjsApp.controller("adminList", ['$scope', '$rootScope','$http', 'uiGridConstants', 'pageData','initSelect','$interval','$q','initList','i18nService','$timeout',
    function($scope, $rootScope,$http,uiGridConstants,pageData,initSelect,$interval,$q,initList,i18nService,$timeout) {
      i18nService.setCurrentLang("zh-cn");
      window.pdfMake.fonts = {微软雅黑: {normal: 'msyh.ttf', bold: 'msyh.ttf', italics: 'msyh.ttf', bolditalics: 'msyh.ttf'} }; 
      $rootScope.$on("SomeChangeUp",function(event,msg){
        $rootScope.$broadcast("SomeChangeDown",msg);
      });
      $scope.$on("SomeChangeDown",function(event,msg){
       refreshPage($scope,pageData,initList,function(){
        zipAtribute($scope.gridOptions.data,'winner','name');
      },$timeout,$http,uiGridConstants);
     });
      refreshPage($scope,pageData,initList,function(){
        zipAtribute($scope.gridOptions.data,'winner','name');
      },$timeout,$http,uiGridConstants);

      initSelectOptions($scope,initSelect,2,'award_level','name');

      initGridOptions($scope,uiGridConstants,pageData,$interval,$q);

      $scope.gridOptions.columnDefs= [
      { name:'获奖名称',field: 'name', headerCellClass: $scope.highlightFilteredHeader },
      { name:'获奖者姓名',field: 'zipwinner',filter:{condition:findZip,placeholder:'多人用\',\'分隔'} ,headerCellClass:$scope.highlightFilteredHeader},
      { name:'获奖类型',field: 'type.name',filter:{type: uiGridConstants.filter.SELECT},headerCellClass: $scope.highlightFilteredHeader},
      { name:'级别',field: 'type.level',filter:{type: uiGridConstants.filter.SELECT,selectOptions: [{ value: '国家级',label:'国家级'},{ value: '省部级',label:'省部级'},{ value: '国家奖学金',label:'国家奖学金'},{ value: '社会奖学金',label:'社会奖学金'},{ value: '其他',label:'其他'}]}, headerCellClass: $scope.highlightFilteredHeader },
      {name:'获奖日期',field:'time',cellFilter:'date:"yyyy-MM-dd"',filters:[{condition:checkStart,placeholder:'起'},{condition:checkEnd,placeholder:'止'}],
      filterHeaderTemplate:pageData.timeFilterTemplate,
      headerCellClass:$scope.highlightFilteredHeader},
      { name: '操作',cellTemplate:pageData.opeTemplate, width: '25%',minWidth:200,enableColumnResizing: false, pinnedRight:true,enableFiltering:false }  ];
    }]);
  </script>
  <div class="row">
   <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
    <div class=" background-deloge widget am-cf">
     <div class="widget-head am-cf">
      <div class="widget-title  am-cf">科研获奖列表</div>
    </div>
    <div class="widget-body  am-fr" ng-controller="adminList">

      <div class="am-u-sm-12">
       <div class="am-form-group">
        <div class="am-btn-toolbar">
         <div class="am-btn-group am-btn-group-xs">
          <a  ng-click="editOneItem()" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>

        </div>
      </div>
    </div>
  </div>

   <div class="am-u-sm-12">
    <div id="grid" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns ui-grid-grouping>

    </div>
  </div>
</div>
</div>
</div>
</div>

<!--添加新用户模态窗口-->
<div class="am-modal" tabindex="-1" id="addNew" ng-controller="openModal">
 <div class="am-modal-dialog">
  <div class="widget am-cf">
    <div class="widget-head am-cf">
      <div class="widget-title am-fl">获奖信息</div>
      <div class="widget-function am-fr">
       <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
     </div>
   </div>
   <div class="widget-body am-fr">
    <form class="am-form tpl-form-border-form tpl-form-border-br" name="myForm" ng-submit="processForm(myForm.$valid)">
      <div class="am-form-group">
        <label for="name" class="am-u-sm-3 am-form-label">获奖名称<span class="tpl-form-line-small-title"></span></label>
        <div class="am-u-sm-9">
         <input type="text" name="name" ng-class="{'am-field-valid':myForm.name.$valid,'am-field-error':myForm.name.$invalid}" class="tpl-form-input" ng-model="formData.name" placeholder="请输入获奖名称" required check-repeat="name">
       </div>
     </div>
     <div class="am-form-group">
      <label for="winner" class="am-u-sm-3 am-form-label">获奖者姓名<span class="tpl-form-line-small-title"></span></label>
      <div class="am-u-sm-9" init-selects="person">
        <ui-select multiple  ng-model="formData.winner" sortable="true" theme="bootstrap"  close-on-select="false" style="background-color:#4B5357;">
          <ui-select-match placeholder="请选择申请人">{{$item.name}} &lt;{{$item.english_name}}&gt;</ui-select-match>
          <ui-select-choices repeat="person._id as person in selects | propsFilter: {name: $select.search, english_name: $select.search}">
            <div ng-bind-html="person.name +' '+ person.english_name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="am-form-group">
      <label for="type" class="am-u-sm-3 am-form-label">获奖类型<span class="tpl-form-line-small-title"></span></label>
      <div class="am-u-sm-9" init-selects="award_level">
        <ui-select  ng-model="formData.type" theme="bootstrap" >
          <ui-select-match placeholder="请选择获奖类型">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="type._id as type in selects | propsFilter: {name: $select.search}">
            <div ng-bind-html="type.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="am-form-group">
      <label for="time" class="am-u-sm-3 am-form-label">获奖日期<span class="tpl-form-line-small-title"></span></label>
      <div class="am-u-sm-9">
        <input ng-class="{'am-field-valid':myForm.time.$valid,'am-field-error':myForm.time.$invalid}" type="text" name="time"  ng-model="formData.time" placeholder="选择获奖日期" uib-datepicker-popup is-open="time.popup.opened" datepicker-options="dateOptions" ng-click="time.open()" ng-required="true" clear-text="清空" close-text="关闭" current-text="今天" date-picker="time" />
      </div>
    </div>
    <div class="am-form-group">
      <label for="comments" class="am-u-sm-3 am-form-label">备注<span class="tpl-form-line-small-title"></span></label>
      <div class="am-u-sm-9">
        <input type="text" class="tpl-form-input" name="comments" ng-model="formData.comments" placeholder="请输入备注">
      </div>
    </div>
    <div class="am-form-group am-form-file">
      <label for="file_path" class="am-u-sm-3 am-form-label">上传原件<span class="tpl-form-line-small-title"></span></label>
      <input id="doc-form-file" type="file" file-model="formData.file">
      <div class="am-u-sm-9">
        <input type="text" ng-model="formData.file_name" class="tpl-form-input" placeholder="点击选择文件">
      </div>
    </div>

    <div class="am-form-group">
      <div class="am-u-sm-9 am-u-sm-push-3">
        <button type="submit" ng-class="{'am-disabled':myForm.$invalid}" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
