<!-- <div class="row  am-cf">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">月度财务收支计划</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">
                <div class="am-fl">
                    <div class="widget-fluctuation-period-text">
                        ￥61746.45
                        <button class="widget-fluctuation-tpl-btn">
                            <i class="am-icon-calendar"></i>
                            更多月份
                        </button>
                    </div>
                </div>
                <div class="am-fr am-cf">
                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                        +￥30420.56

                    </div>
                    <div class="widget-fluctuation-description-text am-text-right">
                        8月份收入
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-primary am-cf">
            <div class="widget-statistic-header">
                本季度利润
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value">
                    ￥27,294
                </div>
                <div class="widget-statistic-description">
                    本季度比去年多收入 <strong>2593元</strong> 人民币
                </div>
                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-purple am-cf">
            <div class="widget-statistic-header">
                本季度利润
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value">
                    ￥27,294
                </div>
                <div class="widget-statistic-description">
                    本季度比去年多收入 <strong>2593元</strong> 人民币
                </div>
                <span class="widget-statistic-icon am-icon-support"></span>
            </div>
        </div>
    </div>
</div> -->
<style type="text/css">  
    .am-panel{
        background-color: #4B5357;
    }
    .am-panel-default>.am-panel-hd {
        color: #fff;
        background-color:#4B5357;
    }
    .am-panel-bd >ul> li {
        list-style: none;
        padding: 0;
        margin: 6px;
    }
</style>
<div class="row am-cf">
    <div class="am-u-sm-12 am-u-md-4">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">系统公告</div>
                <div class="widget-function am-fr">
                    <!-- <a href="javascript:;" class="am-icon-cog"></a> -->
                </div>
            </div>
            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">
                <div class="am-panel-group" id="accordion">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                          <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-5'}">  更新公告</h4>
                      </div>
                      <div id="do-not-say-5" class="am-panel-collapse am-in">
                          <div class="am-panel-bd">
                              <table class="am-table">
                                <thead>
                                    <tr>
                                        <th>上线时间</th>
                                        <th>版本号</th>
                                        <th>更新内容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>2017-06-01</td>
                                    <td>v1</td>
                                    <td>提供专利、软件著作权、论文、项目、获奖的维护管理，以及研究方向、人员、会议/期刊、奖项类型、项目类型的维度管理，提供4种权限的用户，分别是超级管理员（可以管理权限）、成果管理员（可以管理科研成果）、维度管理员（可以管理维度表）、统计用户（只读权限）</td>
                                </tr>
                            <!--   <tr>
                                <td>2017-06-01</td>
                                <td>v1</td>
                                <td>2012-10-01</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                超级管理员须知
            </h4>
        </div>
        <div id="do-not-say-1" class="am-panel-collapse am-collapse">
          <div class="am-panel-bd">
            <p>暂无</p>
        </div>
    </div>
</div>
<div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
        维度管理员须知
    </h4>
</div>
<div id="do-not-say-2" class="am-panel-collapse am-collapse">
  <div class="am-panel-bd">
    <p>1.维度表是各项统计工作的基础，统计是否准确一方面取决于维度表是否本身正确，另一方面取决于成果表中的维度链接是否正确。</p>
    <ul>
        <li><i class="am-icon-circle"></i> 研究方向提供最大程度的分类</li>
        <li> <i class="am-icon-circle"></i> 研究人员维度表旨在使每个人能够检索到自己的成果</li>
        <li> <i class="am-icon-circle"></i> 论文级别维度表旨在进行论文等级的分类</li>
        <li> <i class="am-icon-circle"></i> 奖项级别维度表旨在进行获奖等级的分类</li>
        <li> <i class="am-icon-circle"></i> 项目级别维度表旨在进行项目等级的分类</li>
    </ul>
    <p>2.维度表后台删除中加入了外键约束，即已经被使用的类别记录不能够被删除,想要删除的话，需要从5个成果表中找到使用了该类别记录的成果，进行修改或删除。然后即可以通过外键约束。
    </div>
</div>
</div>
<div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">成果管理员须知</h4>
  </div>
  <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
         <p>1.在成果添加或修改时，出现对应维度记录不存在的情况时，需要换一个浏览器登录到维度管理员权限下，进行维度表的添加。</p>
         <p>2.5张成果表中，除备注字段不重要外，其余所有字段都有其录入的必要性，请不要因为偷懒而影响到最终的统计效果。</p>
         <p>3.表单验证时拒绝了name重复的新记录，出现这种情况时，请优先选择修改已存在的记录，而不要随意加后缀前缀，造成重复统计。
         </div>
     </div>
 </div>
 <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-4'}">统计用户须知</h4>
  </div>
  <div id="do-not-say-4" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <p>1.本系统使用了ui-grid的全部高级功能，包括多列过滤，多列排序（多列时需要用到列下拉）、多列分组、分组函数、列大小调整、列位置调整、列隐藏、列固定、导出到csv、导出到pdf，共计10个功能。
            <p>2.除操作列的查看原件按钮经常出现不同步情况外，其余列均可以正常显示。
                <p>3.有录入新记录需要的用户，请向学术部成员询问成果管理用户的帐号密码。
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- <div class="widget am-cf">
        <div class="widget-head am-cf">
            <div class="widget-title am-fl">专用服务器负载</div>
            <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
            </div>
        </div>
        <div class="widget-body widget-body-md am-fr">

            <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
            <div class="am-progress">
                <div class="am-progress-bar" style="width: 15%"></div>
            </div>
            <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
            <div class="am-progress">
                <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
            </div>
            <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
            <div class="am-progress">
                <div class="am-progress-bar am-progress-bar-danger" style="width: 35%"></div>
            </div>
        </div>
    </div> -->
</div>

</div>