<!-- 内容区域 -->
<script type="text/javascript">
  cjsApp.controller("adminList", ['$scope', '$rootScope','$http', 'uiGridConstants', 'pageData','initSelect','$interval','$q','initList','i18nService','$timeout',
    function($scope, $rootScope,$http,uiGridConstants,pageData,initSelect,$interval,$q,initList,i18nService,$timeout) {
      i18nService.setCurrentLang("zh-cn");
      window.pdfMake.fonts = {微软雅黑: {normal: 'msyh.ttf', bold: 'msyh.ttf', italics: 'msyh.ttf', bolditalics: 'msyh.ttf'} }; 
      $rootScope.$on("SomeChangeUp",function(event,msg){
        $rootScope.$broadcast("SomeChangeDown",msg);
      });
      $scope.$on("SomeChangeDown",function(event,msg){
         refreshPage($scope,pageData,initList,function(){},$timeout,$http,uiGridConstants);
      });
      refreshPage($scope,pageData,initList,function(){},$timeout,$http,uiGridConstants);
      
      initGridOptions($scope,uiGridConstants,pageData,$interval,$q);

      $scope.gridOptions.columnDefs= [
      { name:'中文姓名',field: 'name', headerCellClass: $scope.highlightFilteredHeader },
      { name:'英文名或拼音',field: 'english_name', headerCellClass: $scope.highlightFilteredHeader },
      { name:'备注',field: 'comments', headerCellClass: $scope.highlightFilteredHeader },
      { name: '操作',cellTemplate:pageData.opeTemplate, width: '25%',minWidth:200,enableColumnResizing: false, pinnedRight:true ,enableFiltering:false}  ];
    }]);
  </script>
<div class="row">
	<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
		<div class="widget am-cf">
			<div class="widget-head am-cf">
				<div class="widget-title  am-cf">研究人员列表</div>
			</div>
			<div class="widget-body  am-fr" ng-controller="adminList">

				<div class="am-u-sm-12">
					<div class="am-form-group">
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs">
								<a  data-am-modal="{target: '#addNew'}" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
								
							</div>
						</div>
					</div>
				</div>
                 <div class="am-u-sm-12">
    <div id="grid" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns ui-grid-grouping>

    </div>
  </div>
			</div>
		</div>
	</div>
</div>

	<!--添加新用户模态窗口-->
    <div class="am-modal" tabindex="-1" id="addNew" ng-controller="openModal">
	  <div class="am-modal-dialog">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">研究人员</div>
                <div class="widget-function am-fr">
                     <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
            </div>
            <div class="widget-body am-fr">
                <form class="am-form tpl-form-border-form tpl-form-border-br" name="myForm" ng-submit="processForm(myForm.$valid)">
                    <div class="am-form-group">
                        <label for="name" class="am-u-sm-3 am-form-label">中文姓名<span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" ng-class="{'am-field-valid':myForm.name.$valid,'am-field-error':myForm.name.$invalid}" class="tpl-form-input" name="name" ng-model="formData.name" placeholder="请输入中文姓名" check-repeat="name">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="english_name" class="am-u-sm-3 am-form-label">英文姓名<span class="tpl-form-line-small-title"></span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="english_name" ng-model="formData.english_name" placeholder="请输入英文姓名">
                        </div>
                    </div>
                   
 					<div class="am-form-group">
                        <label for="comments" class="am-u-sm-3 am-form-label">备注</label>
                        <div class="am-u-sm-9">
                            <textarea class="" rows="10" id="user-intro" placeholder="请输入备注内容" name="comments" ng-model="formData.comments"></textarea>
                        </div>
                    </div>
                    
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" ng-class="{'am-disabled':myForm.$invalid}" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
	    </div>
	  </div>
	</div>
